<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1>Registrar Lote</h1>
  </div>
</nav>

<fn-toasts-container aria-live="polite" aria-atomic="true"></fn-toasts-container>

<form #myForm="ngForm" (ngSubmit)="create()">
  <div class="selects">
    <div>
      <label for="existence-select">Producto</label>
      <select
        class="form-select"
        id="existence-select"
        aria-label="Default select example"
        name="existence-select"
        #selectExistence="ngModel"
        [(ngModel)]="existenceSelect.code"
        [class.is-valid]="selectExistence.valid && selectExistence.dirty"
        [class.is-invalid]="
        existenceSelect.code == '0' &&
          (selectExistence.dirty || selectExistence.touched)
        "
        required
      >
        <option
          [ngValue]="'0' "
          [selected]="existenceSelect.code == '0'"
          disabled
        ></option>
        <ng-container *ngFor="let existence of existences">
          <option
            [ngValue]="existence.code"
            [selected]="existenceSelect.code == existence.code"
          >
            {{ existence.name }}
          </option>
        </ng-container>
      </select>
    </div>
    <div class="mb-3">
      <label for="section-select">Sección</label>
      <select
        class="form-select"
        id="section-select"
        aria-label="Default select example"
        name="setcion-select"
        #selectSetcion="ngModel"
        [(ngModel)]="sectionSelect.id"
        [class.is-valid]="selectSetcion.valid && selectSetcion.dirty"
        [class.is-invalid]="
        sectionSelect.id == 0 &&
          (selectSetcion.dirty || selectSetcion.touched)
        "
        required
      >
        <option
          [ngValue]="0"
          [selected]="sectionSelect.id == 0"
          disabled
        ></option>
        <ng-container *ngFor="let section of sections">
          <option
            [ngValue]="section.id"
            [selected]="sectionSelect.id == section.id"
          >
            {{ section.id }}
          </option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="inputs">
    <div class="mb-3">
      <label for="inputQuantity" class="form-label">Cantidad</label>
      <input
        type="number"
        class="form-control"
        id="inputQuantity"
        #quantityControll="ngModel"
        [(ngModel)]="inputQuantity"
        (input)="chargeQuantity($event)"
        name="inputQuantity"
        required
      />
      <div *ngIf="quantityControll.dirty" style="color: red">
        <p *ngIf="quantityControll.hasError('pattern')">
          No es el formato correcto
        </p>
        <p *ngIf="inputQuantity <= 0">
          La cantidad no puede ser menor o igual a 0
        </p>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputDate" class="form-label">Fecha de vencimiento</label>
      <input
        type="date"
        class="form-control"
        id="inputDate"
        #dateControll="ngModel"
        [(ngModel)]="inputDate"
        (input)="chargeDate($event)"
        name="inputDate"
        required
      />
      <div *ngIf="dateControll.dirty" style="color: red">
        <p *ngIf="dateControll.hasError('pattern')">
          No es el formato correcto
        </p>
        <p *ngIf="compareDates()">La fecha no puede ser menor a la actual</p>
      </div>
    </div>
    <div class="mb-3">
      <label for="inputShelf" class="form-label">Estante</label>
      <input
        type="number"
        class="form-control"
        id="inputShelf"
        #shelfControll="ngModel"
        [(ngModel)]="inputShelf"
        (input)="chargeShelf($event)"
        name="inputShelf"
        required
      />
      <div *ngIf="shelfControll.dirty" style="color: red">
        <p *ngIf="shelfControll.hasError('pattern')">
          No es el formato correcto
        </p>
        <p *ngIf="inputShelf <= 0">
          La cantidad no puede ser menor o igual a 0
        </p>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
    Guardar
  </button>
</form>
