registro form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

nav div h1{
  width: 100%;
  text-align: center;
}

.listado form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.listado h1{
  display: block;
  text-align: center;
  margin-top: 50px;
}
.listado legend{
  margin-top: 20px;
  margin-left: 100px;
}
.filtro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0;
}
.filtro select{
  display: inline;
  width: fit-content;
}

.btn-filtro{
  height: fit-content;
}

.grilla{
  margin: 0 25vw;
}

ul .headers{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.headers i{
  padding: 0 150px;
}
.grilla li p{
  display: block;
  text-align: center;
  margin: 0;
}
.zona-filtrada{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.lista-zonas{
  display: flex;
  flex-direction: column;
}
.zona-filtrada i{
  padding: 0 150px;
}

@media (min-width: 768px){
  #saveBtn {
    margin-top: 36px;
  }
}

