<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <h1>Registrar Existencia</h1>
    </div>
</nav>
<div class="container mx-auto mb-3" style="width: 70%;" *ngIf="paso1">
    <h5>Paso 1</h5>
    <h2>Catalogo de Productos:</h2>
    <br>
    <div style="overflow: auto; max-height: 400px;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="position: sticky; top: 0;">ID</th>
                    <th scope="col" style="position: sticky; top: 0;">Nombre de Producto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articulo of listaArticulos">
                    <th scope="row">{{ articulo.id }}</th>
                    <td>{{ articulo.nombre }}</td>
                    <td>
                        <button class="btn btn-primary m-2" (click)="onSeleccionar(articulo)">Seleccionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <h5>* seleccione el producto para continuar con la registracion</h5>
    <br>
    <button type="button" class="btn btn-success btn-lg" *ngIf="botonHabil" (click)="onPaso2()">Continuar</button>
</div>

<div class="container mx-auto mb-3" style="width: 70%;" *ngIf="paso2">
    <h5>Paso 2</h5>
    <div class="row text-center bg-body-tertiary" style="border-radius: 20px;">
        <div class="col">
            <h3>ID del Producto:</h3>
            <p class="fw-bold"># {{ articuloSeleccionado.id }}</p>
        </div>
        <div class="col">
            <h3>Nombre del Producto:</h3>
            <p class="fw-bold"># {{ articuloSeleccionado.nombre }}</p>
        </div>
    </div>
    <br>
    <br>
    <h3>Stock mínimo:</h3>
    <div class="row row-cols-auto text-center">
        <div class="col">
            <input type="number" name="stockMinimo" id="stockMinimo" [(ngModel)]="existenciaCreada.stock_minimo">
        </div>
        <div class="col">
            <p class="fw-bold">Unidades</p>
        </div>
    </div>
    <br>
    <div class="row justify-content-evenly mt-5">
        <div class="col-10">
            <button class="btn btn-danger btn-lg" (click)="onPaso1()">Atrás</button>
        </div>
        <div class="col-2">
            <button class="btn btn-success btn-lg" (click)="onFinalizar()">Finalizar</button>
        </div>
    </div>
</div>