<h2>Proveedores</h2>
<br>
<div class="container">
    <div class="grid-container">
        <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>CUIT</th>
                <th>IVA</th>
                <th>Ubicación</th>
                <th>Provincia</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Catálogo</th>
              </tr>
            </thead>
            <tbody>
              <!-- Aquí puedes utilizar *ngFor para mostrar los datos de los proveedores -->
            </tbody>
        </table>
    </div>
 
  
  <div class="buttons">
    <button class="button btn btn-primary" (click)="openModalAlta()">Nuevo</button>
    <button class="button btn btn-primary"(click)="openModalBaja()">Eliminar</button>
    <button class="button btn btn-primary"(click)="openModalEditar()">Editar</button>
  </div>
</div>


