<div class="container">
  <ng-container *ngIf="alert">
    <fn-alert mensaje="Se guardo exitosamente. Espere 5 Segundos" tipoAlert="alert alert-success"></fn-alert>
  </ng-container>

  <form #formulario="ngForm" (ngSubmit)="enviarForm(formulario)">
  <div class="form-group">
      <label for="txtNombre">Nombre</label>
      <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ingresar Nombre" [(ngModel)]="marca.nombre">
    </div>
    <button (click)="cleanForm()" class="btn btn-danger m-2 ms-0 p-2">Cancelar</button>
    <button type="submit" class="btn btn-primary m-2  p-2">Crear</button>
    <div *ngIf="formulario.invalid && formulario.touched" style="color: red;">
    formulario invalido</div>
  </form>
</div>
