<div class="container" style="padding-top: 3%;">
    <h1>Reportes de ventas</h1>
<div class="container">
  <form (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-md-4">
              <label for="mes">Mes</label>
              <select class="form-control" id="mes" name="mes" [(ngModel)]="formData.mes">
                  <option disabled selected value="">Seleccione un mes </option>
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
              </select>
          </div>
          <div class="col-md-4">
              <label for="año">Año</label>
              <input type="number" class="form-control" id="año" name="anio" [(ngModel)]="formData.anio">
          </div>
          <div class="col-md-4">
              <label for="tipo_venta">Tipo de venta</label>
              <select class="form-control" id="tipo_venta" name="tipo_venta" [(ngModel)]="formData.tipo_venta">
                  <option disabled selected value="">Selecciona el tipo de venta</option>
                  <option value="1">Mayorista</option>
                  <option value="2">Minorista</option>
              </select>
          </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <a style="width: 90%;">Monto Total = {{ montoTotal }} </a> </div>
      </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-outline-dark btn-block mt-2" style="width: 90%;">Buscar</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-violet btn-block mt-2" (click)="limpiarCampos(this.formData)" style="width: 90%;">Reiniciar</button>
          </div>
        </div>
      </div>
  </form>

  <div class="row">


    <div class="col-6 mt-4" *ngIf="mostrarGrafico">
          <fn-reportes-por-meses ></fn-reportes-por-meses>
          <div class="row justify-content-center mt-2" >

      </div>
    </div>

    <div class="col-6 mt-4" *ngIf="mostrarGrafico">
      <div class="card-body">
          <fn-tipo-ventas #tipoVentas></fn-tipo-ventas>
          <div class="row justify-content-center mt-2">
        </div>
      </div>
    </div>

    <div class="col-6 mt-4" *ngIf="mostrarGrafico"> 
      <div class="card-body">
          <fn-top-productos #topProductos></fn-top-productos>
          <div class="row justify-content-center mt-2">
        </div>
      </div>
    </div>

    <div class="col-6 mt-4" *ngIf="mostrarGrafico">
      <div class="card-body">
          <fn-estado-ventas #estadoVentas></fn-estado-ventas>
          <div class="row justify-content-center mt-2">
        </div>
      </div>
    </div>
  </div>
</div>
</div>