<div class="container" style="padding-top: 3%;" print="#REPORTE">
<h1 class="no-print">Reportes de ventas</h1>
<div class="container">
  <form (ngSubmit)="onSubmit()" class="no-print">
      <div class="row">
          <div class="col-md-4">
              <label for="mes">Mes</label>
              <select class="form-control" id="mes" name="mes" [(ngModel)]="this.mes" #mesObtenido (ngModelChange)="obtenerNombreMes(mesObtenido.options[mesObtenido.selectedIndex].text)">
                  <option disabled selected value="">Seleccione un mes </option>
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
              </select>
          </div>
          <div class="col-md-4">
              <label for="año">Año</label>
              <input type="number" class="form-control" id="año" name="anio" [(ngModel)]="anio">
          </div>
          <div class="col-md-4">
              <label for="tipo_venta">Tipo de venta</label>
              <select class="form-control" id="tipo_venta" name="tipo_venta" [(ngModel)]="tipo_venta">
                  <option disabled selected value="">Selecciona el tipo de venta</option>
                  <option value="1">Mayorista</option>
                  <option value="2">Minorista</option>
              </select>
          </div>
      </div>
      
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-outline-dark btn-block mt-2" style="width: 90%;">Buscar</button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-outline-violet btn-block mt-2" (click)="limpiarCampos()" style="width: 90%;">Reiniciar</button>
          </div>
          
        </div>
      </div>
  </form>
  
  <div class="row" *ngIf="mostrarGrafico">
    <div class="row no-print">
      <button type="button" class="btn btn-primary btn-block mt-3 mb-5 "  (click)="imprimir()">Imprimir Reporte</button>
    </div>
    <div class="row mt-1 text-center">
      <div *ngIf="mes && mostrarGrafico">
        <h2 #reportes>Reporte general, {{ mesNombre }} de {{ anio }} </h2>
      </div>
      <div *ngIf="!mes && mostrarGrafico" >
        <h2  #reportes>Reporte general del año {{ anio }} </h2>
      </div>
      
        
        <h5 >Monto total facturado en el mes:    
          <span style="color:red" *ngIf="montoTotal < montoMesAnterior">${{ montoTotal | number: '1.0-0'}} <small>(↓↓↓)</small></span>
          <span style="color:rgb(255, 153, 0)" *ngIf="montoTotal == montoMesAnterior">${{ montoTotal | number: '1.0-0'}} <small>( == )</small></span>
          <span style="color:green" *ngIf="montoTotal > montoMesAnterior">${{ montoTotal | number: '1.0-0'}} <small>(↑↑↑)</small></span> 
        </h5>
    </div>

    <div class="col-md-12 col-sm-12 mt-4 mb-3">
        <h5 class="text-center  mb-4" *ngIf="mes">Monto y cantidades en comparacion al mes anterior</h5>
        <h5 class="text-center  mb-4" *ngIf="!mes">Monto y cantidades en comparacion al año anterior</h5>
        
        <div class="row justify-content-center mt-2 col-sm-12" >
          <fn-reportes-por-meses ></fn-reportes-por-meses>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 mt-4 ">
      <div class="card-body">
        <h5 class="text-center mb-4 no-print">Cantidad de ventas mayoristas y minoristas</h5>
        <div class="row justify-content-center mt-2"> 
          <fn-tipo-ventas #tipoVentas></fn-tipo-ventas>
        </div>
      </div>
    </div>

    <div class="col-md-4  mt-4 mb-2 col-sm-12 "> 
      <div class="card-body">
        <h5 class="text-center mb-4 col-sm-12" *ngIf="!mes">Top 5 productos más vendidos del año</h5>
        <h5 class="text-center mb-4 col-sm-12" *ngIf="mes">Top 5 productos más vendidos del mes</h5>
        <div class="row justify-content-center mt-2"> 
          <fn-top-productos #topProductos class="col-sm-12 "></fn-top-productos>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-4 col-sm-12 ">
      <div class="card-body">
        <h5 class="text-center mb-4 col-sm-12" >Ventas pendientes y entregadas</h5>
        <div class="row justify-content-center mt-2"> 
          <fn-estado-ventas #estadoVentas class="col-sm-12 "></fn-estado-ventas>
        </div>
      </div>
    </div>
    
  </div>
  </div>

</div>