<div class="container">
  <h1 class="text-start fs-3">Modificar Articulo</h1>
  <div class="">
    <div>
      <label for="selectProducto">Articulo a Modificar</label>
      <select class="form-select" id="selectProducto" aria-label="Seleccionar Producto" name="productCodeSelected" [(ngModel)]="productCodeSelected" (change)="llenarForm()">
        <option selected disabled>Seleccionar Articulo</option>
        <ng-container *ngFor="let articulo of allProducts">
          <option value="{{articulo.codigo}}">{{articulo.nombre}}</option>
        </ng-container>
      </select>
    </div>

    <div class="container">
      <div class="imagen-borde">
        <img src="{{product.imageURL}}" alt="" id="product-image">
      </div>
    </div>

    <div class="container">
      <div class="input-group mt-4">
        <input type="file" class="form-control" id="inputGroupFile02" name="imageURL" accept=".png, .jpg, .jpeg" (change)="readPhoto($event)">
        <label class="input-group-text" for="inputGroupFile02">Subir Foto</label>
      </div>
    </div>

    <hr style="margin-top: 15px; border: 1px solid black">
    <form action="container" disabled>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group mb-2">
            <label for="codigo">Codigo</label>
            <input style="height: 50px;" type="text" class="form-control" id="codigo" placeholder="Codigo" name="codigo" [(ngModel)]="product.codigo" [disabled]="true">
          </div>
          <div class="form-group mb-3">
            <label for="name">Nombre</label>
            <input style="height: 50px;" type="text" class="form-control" id="name" placeholder="Nombre" name="nombre" [(ngModel)]="product.nombre" [disabled]="!formActivo">
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" id="marca" aria-label="Seleccionar Marca" name="marca" [(ngModel)]="product.codigo_marca" [disabled]="!formActivo">
              <option selected disabled>Abrir Menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <label for="marca">Marca</label>
          </div>


          <div class="form-floating">
            <select (change)="null" class="form-select" id="floatingSelect" aria-label="Seleccionar Categorias">
              <!-- todas las opciones deben ser cargadas con un arreglo proveniente de un get -->
              <option value="1" person="tecnologia">Tecno</option>
              <option value="2" person="herramientas">Herramientas</option>
              <option value="3" person="nose">Nose</option>
            </select>
            <label for="floatingSelect">Seleccionar Categorias</label>
            <div class="card mt-3">
              <h6 class="card-title mt-2 ms-2">Categorias Seleccionadas</h6>
              <div id="cardAddElement" class="card-body">
                <div *ngFor="let categories of categories; let i = index">
                  <div class="d-flex justify-content-between align-items-center gap-2" style="border-radius: 10px;">
                    <p style="margin: 5px 5px 5px 5px;">{{categories}}</p>
                    <button (click)="removeCategory(categories)" style="margin: 5px 5px 5px 5px;" type="button" class="btn-close" aria-label="Close"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group  mt-4  d-flex align-items-center">
            <label for="minorista"></label>
            <input type="text" class="form-control w-50 me-4" id="minorista" placeholder="Porcentaje Minorista" name="precioMinorista" [(ngModel)]="product.precio_minorista" [disabled]="!formActivo">
            <p style="margin: 0px; font-weight: bold;">Precio Minorista: </p>
          </div>

          <div class="form-group mt-4 d-flex align-items-center">
            <label for="mayorista"></label>
            <input type="text" class="form-control  w-50 me-4" id="mayorista" placeholder="Porcentaje Mayorista" name="precioMayorista" [(ngModel)]="product.precio_mayorista" [disabled]="!formActivo">
            <p style=" margin: 0px;font-weight: bold;">Precio Mayorista: </p>
          </div>


        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Descripcion</label>
            <div class="form-floating">
                            <textarea class="form-control" placeholder="Descripcion del producto" id="floatingDescription"
                                      style="height: 130px" name="descripcion" [(ngModel)]="product.descripcion" [disabled]="!formActivo"></textarea>
            </div>
          </div>
          <div class="mt-3">
            <h5>Caracteristicas</h5>
            <div class="form-group">
              <label for="dimensiones">Dimensiones</label>
              <input type="text" class="form-control" id="dimensiones" placeholder="Dimensiones" name="dimensiones" [(ngModel)]="product.dimensiones" [disabled]="!formActivo">
            </div>
            <div class="form-group">
              <label for="peso">Peso</label>
              <input type="text" class="form-control" id="peso" placeholder="Peso" name="peso" [(ngModel)]="product.peso" [disabled]="!formActivo">
            </div>
            <div class="form-group">
              <label for="color">Color</label>
              <input type="text" class="form-control" id="color" placeholder="Color" name="color" [(ngModel)]="product.color" [disabled]="!formActivo">
            </div>
            <div class="form-group">
              <label for="material">Material</label>
              <input type="text" class="form-control" id="material" placeholder="Material" name="material" [(ngModel)]="product.material" [disabled]="!formActivo">
            </div>
            <div class="form-floating mb-3 mt-4">
              <select class="form-select" id="paisOrigen" aria-label="Seleccionar Pais" name="paisOrigen" [(ngModel)]="product.paisOrigen" [disabled]="!formActivo">
                <option selected disabled>Abrir Menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="paisOrigen">Pais de Origen</label>
            </div>


          </div>


        </div>


      </div>
      <div class="mt-3 d-grid d-md-flex gap-2">
        <button type="submit" class="btn btn-dark" (click)="updateProductByCode()" >Guardar</button>
        <button type="submit" class="btn btn-dark" (click)="cancelarModificacion()">Cancelar</button>
      </div>

    </form>
  </div>
</div>
