.big-cart {
  padding: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-weight: 600;
}

.ref{
    color: #0D6EFD;
    text-decoration: underline;
    cursor: pointer;
}
