<div class="container mt-4">

    <ng-container *ngIf="alert">
        <fn-alert mensaje="Operación Exitosa." tipoAlert="alert alert-success"></fn-alert>
    </ng-container>

    <h2 class="mb-3">Modificar Categoría</h2>
    <form #formulario="ngForm" (ngSubmit)="editarCategoria()">
        <div class="form-group mb-3">
            <label for="txtNombre" class="my-2">Nombre</label>
            <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Ingresar Nombre"
                [(ngModel)]="categoria.nombre" required #nombre="ngModel">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <small class="form-text text-danger">El nombre es obligatorio</small>
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-primary m-2" [disabled]="nombre.invalid"
            (click)="editarCategoria()">Guardar Cambios</button> -->
        <button type="submit" class="btn btn-primary m-2 p-2">Guardar Cambios</button>
        <button type="button" routerLink="/listCategories" class="btn btn-danger m-2">Volver al Inicio</button>
    </form>
</div>