<div class="container" style="background-color: rgb(197, 199, 200); ; margin-bottom: 40px; margin-top: 50px;">
  <h1>Generar</h1>
  <form #form="ngForm" style="margin: 20px;" (ngSubmit)="onSubmit()">
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-2">
        <label for="nro_doc" class="form-label">Documento</label>
        <input type="text" name="nro_doc" id="nro_doc" class="form-control" (blur)="onBlur()"
          [(ngModel)]="cliente.nro_doc">
      </div>
      <div class="col-md-4">
        <label for="cliente" class="form-label">Cliente</label>
        <input type="text" name="cliente" id="cliente" class="form-control" [ngModel]="nombre_cliente" name="cliente"
          disabled="true">
      </div>
      <div class="col-md-2">
        <label for="categoria" class="form-label">Categoría</label>
        <input disabled="true" type="text" class="form-control" name="categoria" id="categoria"
          [ngModel]="categoria.nombre">
      </div>
      <div class="col-md-1">
        <label for="descuento" class="form-label">Descuento</label>
        <input disabled="true" type="text" class="form-control" name="descuento" id="descuento"
          [ngModel]="categoria.descuento">
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label for="tipo" class="form-label">Tipo Venta</label>
        <select name="tipo" id="tipo" class="form-select" [(ngModel)]="presupuesto.tipo_venta" [disabled]="!tipo_activado" (ngModelChange)="actualizarPrecio()">
          <option *ngFor="let opcion of tipo_venta" [ngValue]="opcion.valor">{{opcion.descripcion}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="formaEntrega" class="form-label">Forma de Entrega</label>
        <select name="formaEntrega" id="formaEntrega" class="form-select">
          <option *ngFor="let opcion of formas_entrega" [value]="opcion.valor">{{opcion.descripcion}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input type="date" name="fecha" id="fecha" class="form-control">
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-3">
        <label for="producto" class="form-label">Producto</label>
        <select name="producto" id="producto" class="form-select " [(ngModel)]="productoSeleccionado"
          (ngModelChange)="consultarExistencia()">
          <option *ngFor="let producto of productos" [ngValue]="producto">{{ producto.nombre }}</option>
        </select>
      </div>
      <div class="col-md-1">
        <label for="precioUnitario" class="form-label">Precio</label>
        <input name="precioUnitario" id="precioUnitario" type="input" class="form-control" disabled="true"
          [(ngModel)]="precio_producto">
      </div>
      <div class="col-md-1">
        <label for="existencias" class="form-label">Existencias</label>
        <input name="existencias" id="existencias" type="input" class="form-control" disabled="true"
          [(ngModel)]="existencias">
      </div>
      <div class="col-md-1">
        <label for="dimension" class="form-label">Dimension</label>
        <input name="dimension" id="dimension" type="input" class="form-control" disabled="true"
          [(ngModel)]="productoSeleccionado.dimensiones">
      </div>
      <div class="col-md-1">
        <label for="peso" class="form-label">Peso</label>
        <input name="peso" id="peso" type="input" class="form-control" disabled="true"
          [(ngModel)]="productoSeleccionado.peso">
      </div>
      <div class="col-md-2">
        <label for="cantidad" class="form-label">Cantidad</label>
        <input type="number" id="cantidad" class="form-control" aria-describedby="nombreHelpBlock" name="cantidad"
          [(ngModel)]="cantidad">
      </div>
      <div class="col-md-3 col-sm-12" style="margin-top: 24px;">
        <button (click)="agregarFila()" class="btn btn-dark btn-block m-sm-2" [disabled]="existencias == 0">Agregar</button>
      </div>
    </div>
    <div style="max-height: 250px; overflow-y: auto;">
      <table id="tabla" class="table table-bordered table-hover table-striped"
        style="text-align: center;align-content: center;vertical-align: middle;">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 400px;">Productos</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unitario</th>
            <th scope="col">Precio Total</th>
            <th scope="col" style="width: 50px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalle of presupuesto.detalles; let i = index">
            <td>{{ detalle.descripcion }}</td>
            <td>{{ detalle.cantidad }}</td>
            <td>{{ detalle.precio_unitario }}</td>
            <td>{{ detalle.precio_unitario * detalle.cantidad }}</td>
            <td>
              <button class="btn" (click)="eliminarFila(i)">
                <i class="fa fa-times"></i>
              </button>
            </td>
            <tr>
              <td colspan="3">SUBTOTAL</td>
              <td>{{subtotal}}</td>
              <td></td>
            </tr>
            <tr>
              <td colspan="3">TOTAL</td>
              <td>{{total}}</td>
              <td></td>
            </tr>
        </tbody>
      </table>
      <div *ngIf="(form.submitted && presupuesto.detalles.length === 0 )">
        <span class="text-danger">Debe seleccionar al menos un producto</span>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-md-1">
          <label for="subtotal" class="form-label">SUBTOTAL</label>
          <input class="form-control" type="text" disabled="true" name="subtotal" id="subtotal" [(ngModel)]="subtotal">
        </div>
        <div class="col-md-1">
          <label for="total" class="form-label">TOTAL</label>
          <input class="form-control" type="text" disabled="true" name="total" id="total" [(ngModel)]="total">
        </div>
        <div class="col-md-6">
          <div class="justify-content-between">
            <button class="btn btn-dark">Cancelar</button>
            <button type="submit" (click)="guardarPresupuesto()" class="btn btn-dark ">Guardar Presupuesto</button>
            <button type="submit" (click)="guardarVenta()" class="btn btn-dark ">Generar Venta</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        

      </div>

    </div>
  </form>

</div>