<div class="container mt-4">
  <h2 class="text-center">Montos totales por cliente</h2>
  <ng-container *ngIf="dateFrom && !dateTo">
    <p class="text-center">Desde {{ dateFrom }}</p>
  </ng-container>

  <ng-container *ngIf="!dateFrom && dateTo">
    <p class="text-center">Hasta {{ dateTo }}</p>
  </ng-container>

  <ng-container *ngIf="dateFrom && dateTo">
    <p class="text-center">Desde {{ dateFrom }} hasta {{ dateTo }}</p>
  </ng-container>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <table class="table table-bordered table-striped mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Documento</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Tipo de Cliente</th>
        <th scope="col">Monto Total Facturado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <td>{{ client.name + ' ' + client.lastName }}</td>
        <td>{{ client.nro_doc }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.clientType }}</td>
        <td>{{ client.totalAmount | currency }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="generatePdf()">Generar PDF
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg></button>
</div>
