<table class="table">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Documento</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo de Cliente</th>
        <th scope="col">Monto Total Facturado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients">
        <th >{{client.name + ' ' + client.lastName }}</th>
        <td>{{client.nro_doc}}</td>
        <td>{{client.phone}}</td>
        <td>{{client.clientType}}</td>
        <td>{{client.totalAmount | currency}}</td>
      </tr>     
    </tbody>
  </table>
