<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-3 pt-5 col-lg-2 me-auto bg-dark">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link estilo" href="#" (click)="MenuVenta($event)"> Venta</a>
                </li>
                <li class="nav-item" *ngIf="mostrarVenta">
                    <button class="btn text-white m-1" routerLink="consultar-venta">Consultar Venta</button>
                </li>
                <li class="nav-item" *ngIf="mostrarVenta">
                    <button class="btn text-white m-1" routerLink="reportes-home">Reportes Venta</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link estilo" href="#" (click)="MenuPresupuesto($event)"> Presupuesto</a>
                </li>
                <li class="nav-item" *ngIf="mostrarPresupuesto">
                    <button class="btn text-white m-1" routerLink="alta-presupuesto">Alta Presupuesto</button>
                </li>
                <li class="nav-item" *ngIf="mostrarPresupuesto">
                    <button class="btn text-white m-1" routerLink="consultar-presupuesto">Consultar Presupuesto</button>
                </li>
                
            </ul>
        </div>
        <div class="col-md-9 col-lg-10 fondo-formulario">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

