<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="text-center w-100">Lista lotes por Existencia</h1>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col">
        <form>
          <div class="form-group row">
            <label for="existenceId" class="col-md-2 col-form-label"><b>ID de Existencia:</b></label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="existenceId" name="existenceId" [(ngModel)]="existenceId">
            </div>
            <div class="col-md-3">
              <button type="button" class="btn btn-primary" (click)="filterBatches()">Filtrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mt-3">
        <div class="col">
          <h4>Lotes:</h4>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>ID de Existencia</th>
                <th>Sección</th>
                <th>Cantidad</th>
                <th>Fecha de caducidad</th>
                <th>Estante</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let batch of batchesFiltered.length > 0 ? batchesFiltered : batches">
                <tr>
                  <td>{{ batch.id }}</td>
                  <td>{{ batch.existenceCode }}</td>
                  <td>{{ batch.sectionId }}</td>
                  <td>{{ batch.quantity }}</td>
                  <td>{{ batch.dueDate | date: 'yyyy-MM-dd' }}</td>
                  <td>{{ batch.shelf }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<fn-toasts-container aria-live="polite" aria-atomic="true"></fn-toasts-container>
