<div class="bg-secundario">
  <div class="container-fluid bg-primario text-white pt-3 pb-4 sombra">
    <form action="" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg col-md-4 col-sm-6 mt-1">
          <div class="d-flex align-items-center">
            <input
              class="input-text me-2"
              type="text"
              placeholder="Client"
              formControlName="client"
            />
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mt-1">
          <div class="row align-items-center">
            <div class="col-auto">
              <label for="inputPassword6" class="col-form-label">Desde</label>
            </div>
            <div class="col-auto">
              <input
                type="date"
                class="form-control"
                formControlName="dateFrom"
                (change)="searchInvoices()"
              />
            </div>
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mt-1">
          <div class="row align-items-center">
            <div class="col-auto">
              <label for="" class="col-form-label">Hasta</label>
            </div>
            <div class="col-auto">
              <input
                type="date"
                class="form-control"
                formControlName="dateTo"
                (change)="searchInvoices()"
              />
            </div>
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mt-1">
          <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault"
              >Show invoice canceled</label
            >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
            />
          </div>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mt-1">
          <input type="submit" value="Search" class="btn btn-primary" />
        </div>
      </div>
    </form>
  </div>

  <div class="table-container pt-2 pb-3 mt-3">
    <div class="container pt-2 pb-3 mt-3 mb-4">
      <div class="table-responsive">
        <table class="table border sombra">
          <thead>
            <tr class="text-center">
              <th>N°</th>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Monto</th>
              <th>Tipo cliente</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invoice of invoices" class="text-center">
              <td>{{ invoice.id }}</td>
              <td>{{ invoice.date }}</td>
              <td>{{ invoice.client }}</td>
              <td>{{ invoice.totalAmount }}</td>
              <td>{{ invoice.clientType }}</td>
              <td>
                <div class="row">
                  <div class="col mt-1 clickable">
                    <svg
                      (click)="obtenerDetalles(invoice.id)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-eye"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"
                      />
                      <path
                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"
                      />
                    </svg>
                  </div>
                  <div class="col mt-1 clickable">
                    <svg
                      (click)="deleteFactura(invoice.id)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash-fill btn-danger"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                      />
                    </svg>
                  </div>
                  <div class="col mt-1 clickable">
                    <svg
                      (click)="getPdf(invoice.id)"
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-printer"
                      viewBox="0 0 16 16"
                    >
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z" />
                      <path
                        d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
                      />
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>