<div class="container">
    <fn-modal mensaje="¿Realmente desea eliminar el catalogo?" option1="Eliminar" option2="Cancelar"
              (evento)="eliminarCatalogo()" title="Eliminar Categoría"></fn-modal>
    <ng-container *ngIf="alert">
        <fn-alert mensaje="Operación Exitosa." tipoAlert="alert alert-success"></fn-alert>
    </ng-container>

    <button routerLink="registerCatalog" [queryParams]="{ tipo: 1,title: 'Registrar Catalogo' }" class="btn btn-success float-end mt-2">Registrar Catalogo</button>
    <h2 class="my-2 py-2">Listado de Catalogos</h2>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of lista">
                <td>{{c.codigo}}</td>
                <td>{{c.nombre}}</td>
                <td>
                    <button routerLink="registerCatalog" [queryParams]="{tipo: 3,title: 'Codigo de Catalogo: '+c.codigo, codigo: [c.codigo]}"
                            class="btn btn-success">Ver</button>
                </td>
                <td>
                    <button routerLink="registerCatalog" [queryParams]="{tipo: 2, codigo: [c.codigo], title: 'Modificar Catalogo' }"
                            class="btn btn-primary">Modificar</button>
                </td>

                <td>
                    <button (click)="guardarCodigo(c.codigo)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Eliminar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
