<div class="container main-content">
  <h1>Registrar remito:</h1>
  <form #form="ngForm" (ngSubmit)="addReceipt(form)">
      <div class="row">
          <div class="col-md-3 form-group">
              <label for="arrivalDate">Fecha de llegada:</label>
              <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" #arrivalDateElement="ngModel" [(ngModel)]="receipt.arrivalDate" required>
              <div *ngIf="(arrivalDateElement.dirty || arrivalDateElement.touched) && arrivalDateElement.hasError('required')" class="text-danger">
                Fecha de llegada es requerida
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="purchaseOrderNumber">Numero de orden:</label>
              <input type="number" class="form-control" id="purchaseOrderNumber" name="purchaseOrderNumber" #purchaseOrderNumberElement="ngModel" [(ngModel)]="receipt.purchaseOrderNumber" min="1">
              <div *ngIf="(purchaseOrderNumberElement.dirty || purchaseOrderNumberElement.touched) && purchaseOrderNumberElement.hasError('min')" class="text-danger">
                 Numero de orden no puede ser menor a 1
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="receiptNumber">Numero de remito:</label>
              <input type="number" class="form-control" id="receiptNumber" name="receiptNumber" #receiptNumberElement="ngModel" [(ngModel)]="receipt.receiptNumber" min="1">
              <div *ngIf="(receiptNumberElement.dirty || receiptNumberElement.touched) && receiptNumberElement.hasError('min')" class="text-danger">
                  Numero de remito no puede ser menor a 1
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
            <label for="supplierName">Proveedor:</label>
            <input type="text" class="form-control" id="supplierName" name="supplierName" #supplierNameElement="ngModel" [(ngModel)]="receipt.supplierName" required maxlength="50" minlength="3">
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('required')" class="text-danger">
                Nombre de proveedor es requerido
            </div>
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('maxlength')" class="text-danger">
                Nombre muy largo
            </div>
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('minlength')" class="text-danger">
                Nombre muy corto
            </div>
        </div>
        <div class="col-md-3 form-group">
            <label for="detail">Details:</label>
            <input type="text" class="form-control" id="detail" name="detail" #detailElement="ngModel"
                   [(ngModel)]="detail.detail" minlength="1" maxlength="50">
            <div *ngIf="detailElement.dirty && detailElement.hasError('minlength')" class="text-danger">
                Detalle es muy corto
            </div>
            <div *ngIf="detailElement.dirty && detailElement.hasError('maxlength')" class="text-danger">
                Detalle es muy largo
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3 form-group">
              <label for="productName">Product:</label>
              <input type="text" class="form-control" id="productName" name="productName" #productNameElement="ngModel" [(ngModel)]="detail.productName" minlength="1">
              <div *ngIf="productNameElement.dirty && productNameElement.hasError('minlength')" class="text-danger">
                  Nombre del producto muy corto
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="quantity">Cantidad:</label>
              <input type="number" class="form-control" id="quantity" name="quantity" #quantityElement="ngModel" [(ngModel)]="detail.quantity">
          </div>
          <div class="col-md-3 form-group align-self-end">
              <button type="button" (click)="addReceiptDetail(form)" class="btn btn-primary">Agregar</button>
          </div>
      </div>
      <button type="submit" class="btn btn-primary button-to-bottom">Guardar remito</button>
  </form>
  <div class="table-container">
      <table class="table mt-4">
          <thead>
              <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detail of receipt.details; let i = index">
                  <td>{{ detail.productName }}</td>
                  <td>{{ detail.quantity }}</td>
                  <td>
                      <button class="btn btn-danger" (click)="deleteDetail(i)"><i class="bi bi-trash"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>

<fn-toasts-container aria-live="polite" aria-atomic="true"></fn-toasts-container>
