<div class="container mt-4">
    <h2 class="mb-3">Alta de Categoría</h2>
    <div class="col-md-6">
        <form>
            <!-- <div class="form-group mb-3">
                <label for="id">ID</label>
                <input type="text" class="form-control" id="txtid" name="id" placeholder="Ingresar ID"
                    [(ngModel)]="categoria.id">
            </div> -->

            <div class="form-group mb-3">
                <label for="nombre" class="mb-2">Nombre</label>
                <input type="text" class="form-control" id="txtnombre" name="nombre" placeholder="Ingresar Nombre"
                    [(ngModel)]="categoria.nombre">
            </div>

            <button (click)="agregarCategoria()" class="btn btn-primary m-1">Crear</button>

            <button (click)="volverAlInicio()" class="btn btn-secondary m-1">Volver al Inicio</button>
        </form>
    </div>
</div>