.containerBtn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
}

.buttonComponent {
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 5px;
  color: red;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin-bottom: 20px;
}

.buttonComponent:hover {
  background-color: rgb(236, 109, 109);
  color: white;
  border-color: rgb(236, 109, 109);
}
