<ul ngbNav #nav="ngbNav" [activeId]="active" class="nav-tabs">
  <li [ngbNavItem]="0">
    <button ngbNavLink routerLink="registrar">Registrar</button>
  </li>
  <li [ngbNavItem]="1">
    <button ngbNavLink routerLink="listar/prontoAExpirar">Listar Pronto a expirar</button>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink routerLink="listar/prontoExpirado">Listar Expirados</button>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink routerLink="listar/porExistencia">Listar por Existencia</button>
  </li>
  <li [ngbNavItem]="4">
    <button ngbNavLink routerLink="listar/porSeccion">Listar por Seccion</button>
  </li>
</ul>
<router-outlet></router-outlet>
