<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title">Registrar pagos</h4>
  </div>
  <div class="modal-body">
    <div class="container text-center">
      <div>
        <div formArrayName="paymentMethodList" class="mb-2">
          <div
            *ngFor="
              let formaDePago of paymentMethodList.controls;
              let i = index
            "
          >
            <div [formGroupName]="i" class="row justify-content-end">
              <div class="col-4" *ngIf="paymentMethodDTOs | async as payments">
                <label for="paymentMethod" class="form-label"
                  >Método de Pago:</label
                >
                <select
                  id="paymentMethod"
                  formControlName="paymentMethod"
                  class="form-select"
                >
                  <option [ngValue]="pm.id" *ngFor="let pm of payments">
                    {{ pm.name }}
                  </option>
                </select>
              </div>

              <div class="col-2">
                <label for="amount" class="form-label">Monto:</label>
                <input
                  type="number"
                  id="amount"
                  formControlName="amount"
                  (input)="calcularTotal(i)"
                  class="form-control"
                />
              </div>

              <div class="col-4">
                <label for="observations" class="form-label"
                  >Descripción:</label
                >
                <input
                  type="text"
                  id="observations"
                  formControlName="observations"
                  class="form-control"
                />
              </div>

              <div class="col-auto d-flex flex-column justify-content-end">
                <button (click)="eliminarFormaDePago(i)" class="btn btn-danger">
                  [x]
                </button>
              </div>
              <div
                *ngIf="
                  formaDePago.get('amount')?.getError('min') &&
                  formaDePago.get('amount')?.touched
                "
                style="color: red"
              >
                No puede ingresar numeros negativos
              </div>
              <div
                *ngIf="
                  formaDePago.get('paymentMethod')?.getError('required') &&
                  formaDePago.get('paymentMethod')?.touched
                "
                style="color: red"
              >
                Tiene que ingresar un metodo de pago
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            paymentMethodList
              .at(0)
              .get('amount')
              ?.getError('maxAmountExceeded') &&
            paymentMethodList.at(0).get('amount')?.touched
          "
          style="color: red"
        >
          Sobrepasó el monto total
        </div>
        <button
          class="btn btn-warning"
          type="button"
          (click)="agregarFormaDePago()"
        >
          Agregar forma de Pago
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col">
      <label>Total a pagar: {{ invoiceTotal | currency }}</label>
    </div>
    <div class="col">
      <!-- Muestra el restante -->
      <label class="text-danger" *ngIf="invoiceTotal - montoTotal >= 0"
        >Restante: {{ invoiceTotal - montoTotal | currency }}</label
      >
      <!-- Muestra el vuelto -->
      <label class="text-success" *ngIf="invoiceTotal - montoTotal < 0"
        >Vuelto: {{ (invoiceTotal - montoTotal) * -1 | currency }}</label
      >
    </div>
    <button type="submit" class="btn btn-success">Finalizar Pago</button>
  </div>
</form>
