
<div class="modal-header">
    <h4 class="modal-title">ELIMINAR PROVEEDOR</h4>
  </div>
  <div class="container">
    <form class="row g-3 needs-validation" novalidate>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
        </div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom01" class="form-label">CUIT</label>
        <input type="text" class="form-control" id="validationCustom01" value="" required>
        <div class="valid-feedback">
        </div>
      </div>
      
      <div class="col-12">
        <button class="btn btn-primary" type="button" (click)="onSubmit()">Eiminar</button>
      </div>
    </form>
  </div>
  <div class="modal-body">
    <!-- Contenido del Modal: {{ data }} -->
  </div>
