<div class="container">
    <div class="row">
        <div class="colum">
            <label for="">Fecha de entrega</label>
            <input type="text" class="orden-compras-input">
            <label for="">Forma de envio</label>
            <input type="text" class="orden-compras-input">
            <label for="">Forma de pago</label>
            <input type="text" class="orden-compras-input">
            <br>
            <label for="">Proveedor:</label>
            <input type="text" class="orden-compras-input">
            <label for="">Fecha:</label>
            <input type="text" class="orden-compras-input">
            <br>
            <button type="button">Buscar</button>
        </div>  
    </div> 
    <div class="row">
       <div class="grid-container">
        <h4>Orden De Compra</h4>
        <table class="table">
            <thead>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad</th>
                <th scope="col">P/U</th>
                <th scope="col">Monto</th>
            </thead>
        </table>
       </div>
    </div>
    <body>
        <!--En este apartado pondremos la funcionalidad con ngFor-->
    </body>
    
</div>
<footer>
    <button class="button btn-success" name="btn btn-success" id="enviar" >enviar</button>
    <button class="button btn-primary" name="btn btn-primary" id="aceptar" >aceptar</button>
    <button class="button btn btn-info" name="btn btn-info" id="calcelar">enviar</button>

</footer>
