<div class="container main-content">
  <h1>Register Receipt:</h1>
  <form #form="ngForm" (ngSubmit)="addReceipt(form)">
      <div class="row">
          <div class="col-md-3 form-group">
              <label for="arrivalDate">Arrival Date:</label>
              <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" #arrivalDateElement="ngModel" [(ngModel)]="receipt.arrivalDate" required>
              <div *ngIf="(arrivalDateElement.dirty || arrivalDateElement.touched) && arrivalDateElement.hasError('required')" class="text-danger">
                  Arrival date is required
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="purchaseOrderNumber">Purchase Order Number:</label>
              <input type="number" class="form-control" id="purchaseOrderNumber" name="purchaseOrderNumber" #purchaseOrderNumberElement="ngModel" [(ngModel)]="receipt.purchaseOrderNumber" min="1">
              <div *ngIf="(purchaseOrderNumberElement.dirty || purchaseOrderNumberElement.touched) && purchaseOrderNumberElement.hasError('min')" class="text-danger">
                  Purchase order number cannot be less than 1
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="receiptNumber">Receipt Number:</label>
              <input type="number" class="form-control" id="receiptNumber" name="receiptNumber" #receiptNumberElement="ngModel" [(ngModel)]="receipt.receiptNumber" min="1">
              <div *ngIf="(receiptNumberElement.dirty || receiptNumberElement.touched) && receiptNumberElement.hasError('min')" class="text-danger">
                  Receipt number cannot be less than 1
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-3 form-group">
            <label for="supplierName">Supplier:</label>
            <input type="text" class="form-control" id="supplierName" name="supplierName" #supplierNameElement="ngModel" [(ngModel)]="receipt.supplierName" required maxlength="50" minlength="3">
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('required')" class="text-danger">
                Supplier is required
            </div>
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('maxlength')" class="text-danger">
                Name is too long
            </div>
            <div *ngIf="(supplierNameElement.dirty || supplierNameElement.touched) && supplierNameElement.hasError('minlength')" class="text-danger">
                Name is too short
            </div>
        </div>
        <div class="col-md-3 form-group">
            <label for="detail">Details:</label>
            <input type="text" class="form-control" id="detail" name="detail" #detailElement="ngModel" 
                   [(ngModel)]="detail.detail" required minlength="1" maxlength="50">
            <div *ngIf="detailElement.dirty && detailElement.hasError('required')" class="text-danger">
                Detail is required
            </div>
            <div *ngIf="detailElement.dirty && detailElement.hasError('minlength')" class="text-danger">
                Detail is too short
            </div>
            <div *ngIf="detailElement.dirty && detailElement.hasError('maxlength')" class="text-danger">
                Detail is too long
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-3 form-group">
              <label for="productName">Product:</label>
              <input type="text" class="form-control" id="productName" name="productName" #productNameElement="ngModel" [(ngModel)]="detail.productName" minlength="1">
              <div *ngIf="productNameElement.dirty && productNameElement.hasError('required')" class="text-danger">
                  Product is required
              </div>
          </div>
          <div class="col-md-3 form-group">
              <label for="quantity">Quantity:</label>
              <input type="number" class="form-control" id="quantity" name="quantity" #quantityElement="ngModel" [(ngModel)]="detail.quantity" min="1">
              <div *ngIf="quantityElement.dirty && quantityElement.hasError('required')" class="text-danger">
                  Quantity is required
              </div>
              <div *ngIf="quantityElement.dirty && quantityElement.hasError('min')" class="text-danger">
                  Quantity must be greater than 0
              </div>
          </div>
          <div class="col-md-3 form-group align-self-end">
              <button type="button" (click)="addReceiptDetail(form)" class="btn btn-primary">Add</button>
          </div>
      </div>
      <button type="submit" class="btn btn-primary button-to-bottom">Save Receipt</button>
  </form>
  <div class="table-container">
      <table class="table mt-4">
          <thead>
              <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let detail of receipt.details; let i = index">
                  <td>{{ detail.productName }}</td>
                  <td>{{ detail.quantity }}</td>
                  <td>
                      <button class="btn btn-danger" (click)="deleteDetail(i)"><i class="bi bi-trash"></i></button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>