<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Ver pedidos de cotización</h2>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>000003</td>
                    <td>16/11/2023</td>
                    <td><button type="button" class="btn btn-success btn-sm">Ver</button></td>
                </tr>
                <tr>
                    <td>000002</td>
                    <td>15/11/2023</td>
                    <td><button type="button" class="btn btn-success btn-sm" >Ver</button></td>
                </tr>
                <tr>
                    <td>000001</td>
                    <td>14/11/2023</td>
                    <td><button type="button" class="btn btn-success btn-sm">Ver</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
