<div id="allContent" class="">
    <a class="btn btn-primary botonAbrirNav pt-5"  data-bs-toggle="offcanvas"  href="#offcanvasExample" role="button" aria-controls="offcanvasExample" data-bs-offcanvas>
        <svg id="svgInic" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>
    </a>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header mt-2">
            <h5 class="offcanvas-title fs-3" id="offcanvasExampleLabel">Catalogo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="d-flex flex-column ms-3">
              <p class="mb-5 fs-5">
                <a routerLink="deleteProduct" data-bs-dismiss="offcanvas"><span class="fs-5">Productos</span></a>
              </p>
              <p class="mb-5 fs-5">
                <a routerLink="listCatalogs" data-bs-dismiss="offcanvas"><span class="fs-5">Catalogos</span></a>
              </p>
                <p class="mb-5 fs-5">
                    <a routerLink="listCategories" data-bs-dismiss="offcanvas"><span class="fs-5">Categorias</span></a>
                </p>
                <p class="mb-5 fs-5" >
                    <a routerLink="listBrands" data-bs-dismiss="offcanvas"><span class="fs-5">Marcas</span></a>
                </p>
                <p class="mb-5 fs-5 ">
                    <a routerLink="listDiscounts" data-bs-dismiss="offcanvas"><span class="fs-5">Descuentos</span></a>
                </p>
                <p class="mb-5 fs-5 ">
                    <a routerLink="listOffers" data-bs-dismiss="offcanvas"><span class="fs-5">Ofertas</span></a>
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
