<div class="row justify-content-center">
  <app-toasts class="col"></app-toasts>
</div>
<div class="bg-secundario">
  <div class="">
    <div class="container-fluid card bg-primario text-white pb-4">
      <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 text-end pt-2 .texto-primario">{{'Nº '+nroFactura}}</div>
      </div>
      <div *ngIf="client$ |async as cli">



        <form action="">
          <div class="row">
            <div class="col-10">
              <div class="row pb-2">
                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR">Cliente</label>
                  <input type="text" name="nombre" id="nombreCliente" [ngModel]="cli[0].nombre + ' ' + cli[0].apellido"
                    disabled class="input-text" style="color: white" />
                </div>
                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR">Fecha</label>
                  <input type="text" name="fechaHoy" id="fechaFactura" [value]="fechaHoy | date : 'yyyy-MM-dd'" disabled
                    class="input-text" />
                </div>
                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR text-sm">Tipo Documento</label>
                  <input type="text" name="tipo_documento" id="tipoDni" [(ngModel)]="cli[0].id_tipo_doc.tipo_documento"
                    disabled class="input-text" />
                </div>

                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR">Tipo Cliente</label>
                  <input type="text" name="tipo_cliente" id="tipoCliente"
                    [(ngModel)]="cli[0].id_tipo_cliente.tipo_cliente" disabled class="input-text" />
                </div>
                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR">Domicilio</label>
                  <input type="text" name="domicilio" id="domicilio" [(ngModel)]="cli[0].domicilio" disabled
                    class="input-text" />
                </div>
                <div class="col-xl-4 col-md-6 align-items-end d-flex justify-content-end">
                  <label for="" class="margenR">Documento</label>
                  <input type="text" name="nro_doc" id="nroDoc" [(ngModel)]="cli[0].nro_doc" disabled
                    class="input-text" />
                </div>
              </div>
            </div>
            <div class="col-2 mr-5 numFac">
              <div class="row text-end r-1">
                <div class="col">tipo</div>
              </div>
              <div class="row text-end h1 ">
                <div class="col">
                  <select class="invisible-dropdown" [(ngModel)]="tipoFactura" name="tipofactura">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option [selected]="'TICKET'" value="TICKET">Ticket</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>

    <div class="container pt-2 pb-3 mt-3">
      <div class="container pt-2 pb-3 mt-3 mb-3 table-container">
        <table class="table border">
          <thead>
            <tr>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Precio por Unidad</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let det of orderSelected.detalles">
              <td>{{ det.descripcion }}</td>
              <td>{{ det.cantidad }}</td>
              <td>{{ det.precio_unitario | currency }}</td>
              <td>{{ det.cantidad * det.precio_unitario | currency }}</td>
            </tr>
          </tbody>
        </table>
        <table class="table border">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Descuento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let disc of orderSelected.descuentos">
              <td>{{ disc.descripcion }}</td>
              <td>{{ disc.monto | currency }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row d-flex justify-content-end">
        <div class="col-auto">
          <label class="h4" style="color: dimgray">Subtotal: {{ orderSelected.subtotal | currency }} </label><br />
          <label class="h3">Total: {{ orderSelected.total }} </label>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-start">
          <input type="button" class="btn btn-secondary" value="Cancelar" routerLink="/ConsultarPedidos" />
        </div>
        <div class="col d-flex justify-content-end">
          <button *ngIf="paid" class="btn btn-success" (click)="obtenerInvoiceData()" (click)="openModal()">
            Cobrar
          </button>
          <button *ngIf="!paid" class="btn btn-success" (click)="registrarFactura()">
            Registrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>