.bg-secundario {
  background-color: #cccccc;
}
.bg-primario {
  background-color: #3c2f81;
}
.texto-primario {
  color: #fff;
}
.texto-secundario {
  color: rgba(255, 255, 255, 0.6);
}
body {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
}

.margenR {
  margin-right: 10px;
}
.sombra {
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.48);
  border-radius: 5px;
}

.input-text {
  border: none;
  border-bottom: #346ddc 1px solid;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.input-text:focus {
  border: none;
}

.table-container {
  max-height: 290px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  background-color: #cccccc;
  width: 8px;
}
.table-container::-webkit-scrollbar-thumb {
  background-color: #575656;
  border-radius: 5px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #2e2e2e;
}
.custom-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
}

@media (min-width: 0px) and (max-width: 960px) {
  label {
    font-size: 14px;
  }
  .input-text {
    font-size: 14px;
  }
}
