<body class="bg-secundario">
  <div class="container-fluid custom-container">
  <div class="container-fluid bg-primario text-white pb-4 sombra">
    <div class="row">
      <div class="col-md-6">
        <a class="navbar-brand" href="#">
          <img
            src="../../assets/LogoFerNorte.png"
            alt=""
            class="d-inline-block align-text-top"
          />
        </a>
      </div>
      <div class="col-md-6 text-end pt-2 .texto-primario">N° 1000</div>
    </div>
    <div class="row">
      <div class="col-10">
        <div class="row pb-2">
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Cliente</label>
            <input
              type="text"
              name=""
              id=""
              value="Ernesto j."
              disabled
              class="input-text"
            />
          </div>
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Fecha</label>
            <input
              type="text"
              name=""
              id=""
              value="12/12/2021"
              disabled
              class="input-text"
            />
          </div>
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Tipo Documento</label>
            <input
              type="text"
              name=""
              id=""
              value="Dni"
              disabled
              class="input-text"
            />
          </div>
        </div>
        <div class="row">
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Tipo Cliente</label>
            <input
              type="text"
              name=""
              id=""
              value="Consumidor Final"
              disabled
              class="input-text"
            />
          </div>
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Domicilio</label>
            <input
              type="text"
              name=""
              id=""
              value=""
              disabled
              class="input-text"
            />
          </div>
          <div class="col align-items-end d-flex justify-content-end">
            <label for="" class="margenR">Documento</label>
            <input
              type="text"
              name=""
              id=""
              value="45827404"
              disabled
              class="input-text"
            />
          </div>
        </div>
      </div>
      <div class="col-2 mr-5">
        <div class="row text-end r-1"><div class="col">tipo</div></div>
        <div class="row text-end h1"><div class="col">C</div></div>
      </div>
    </div>
  </div>
  <div class="container pt-2 pb-3 mt-3">
    <div class="container pt-2 pb-3 mt-3 table-container">
      <table class="table border sombra">
        <thead>
          <tr>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Precio Unidad</th>
              <th>Subtotal</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let det of details">
              <td>{{ det.descripcion }}</td>
              <td>{{ det.cantidad }}</td>
              <td>{{ det.precioUnitario | currency }}</td>
              <td>{{ det.subtotal | currency}}</td>
          </tr>
      </tbody>
      </table>
      <table class="table border sombra">
        <thead>
          <tr>
              <th>Descripcion</th>
              <th>Porcentaje</th>
              <th>Descuento</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let disc of discounts">
              <td>{{ disc.descripcion }}</td>
              <td>{{ disc.porcentaje }}</td>
              <td>{{ disc.discounted | currency}} </td>
          </tr>
      </tbody>
      </table>
    </div>

    <div class="row d-flex justify-content-end">
      <div class="col-auto">
        <label class="h3"><p>{{totalPedido | currency}}</p>  </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input
          type="button"
          class="btn btn-secondary"
          value="Cancelar"
          routerLink="/ConsultarPedidos"
        />
      </div>
      <div class="col d-flex justify-content-end">
        <fn-registrar-pago></fn-registrar-pago>
      </div>
    </div>
  </div>
  </div>
</body>
