<div class="container">
<div class="row">
    <div class="col-6">
        <h2>Ver ordenes de compra</h2>
    </div>
</div>
<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Forma de envío</th>
                <th scope="col">Fecha de entrega</th>
                <th scope="col">Monto</th>
                <th scope="col">Estado</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>000001</td>
                <td>Easy</td>
                <td>OCA</td>
                <td>10/12/2023</td>
                <td>$120.000,00</td>
                <td>Aprobado</td>
                <td><button type="button" class="btn btn-success btn-sm">Ver</button></td>
            </tr>
            <tr>
                <td>000002</td>
                <td>Ferrocons</td>
                <td>Correo Argentino</td>
                <td>10/11/2023</td>
                <td>$136.000,00</td>
                <td>Enviado</td>
                <td><button type="button" class="btn btn-success btn-sm">Ver</button></td>
            </tr>
            <tr>
                <td>000003</td>
                <td>Ferrocons</td>
                <td>Transportista Particular</td>
                <td>10/11/2023</td>
                <td>$156.000,00</td>
                <td>Cancelado</td>
                <td><button type="button" class="btn btn-success btn-sm">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>
</div>