<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">FerNorte</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#" routerLink="/catalog" routerLinkActive="active">Catálogo</a>
        <a class="nav-link" href="#" routerLink="/customer" routerLinkActive="active">Clientes</a>
        <a class="nav-link" href="#" routerLink="/purchase" routerLinkActive="active">Compras</a>
        <a class="nav-link" href="#" routerLink="/invoice" routerLinkActive="active">Facturación</a>
        <a class="nav-link" href="#" routerLink="/inventory" routerLinkActive="active">Inventario</a>
        <a class="nav-link" href="#" routerLink="/sales" routerLinkActive="active">Ventas</a>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
