<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li ngbNavItem="remitos">
    <button ngbNavLink routerLink="remitos">Remitos</button>
  </li>
  <li ngbNavItem="lotes">
    <button ngbNavLink routerLink="lotes">Lotes</button>
  </li>
  <li ngbNavItem="controles">
    <button ngbNavLink routerLink="controles">Controles de stock</button>
  </li>
  <li ngbNavItem="reservaciones">
    <button ngbNavLink routerLink="reservaciones">Reservaciones</button>
  </li>
  <li ngbNavItem="secciones">
    <button ngbNavLink routerLink="secciones">Secciones</button>
  </li>
  <li ngbNavItem="existencias">
    <button ngbNavLink routerLink="existencias">Existencias</button>
  </li>
  <li ngbNavItem="estadisticas">
    <button ngbNavLink routerLink="estadisticas">Estadisticas</button>
  </li>
</ul>
<router-outlet></router-outlet>