<div class="container">
<div class="row">
    <div class="col-6">
        <h2>Ver orden de compra</h2>
        <br>
    </div>
</div>
<div class="row">
    <div class="card">
        <div class="card-body">
    <h4>Orden de Compra #00001</h4>
    <br>
    <table class="table table-borderless table-sm">
        <tbody>
            <tr>
                <th>Fecha de envío</th>
                <th>Fecha de entrega</th>
                <th>Forma de envío</th>
                <th>Forma de pago</th>
            </tr>
            <tr>
                <td> 10/11/2023</td>
                <td> 10/12/2023</td>
                <td> por transporte</td>
                <td> por transferencia</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-hover table-bordered">
         <thead>     
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">P/U</th>
                <th scope="col">Monto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>000001</td>
                <td>Martillo</td>
                <td>1.000</td>
                <td>$120,00</td>
                <td>$120.000,00</td>
            </tr>
            <tr>
                <td>000002</td>
                <td>Pala</td>
                <td>1</td>
                <td>$23.000,00</td>
                <td>$23.000,00</td>
            </tr>
            <tr>
                <th colspan="4">Total</th>
                <td >$123.000,00</td>
            </tr>
        </tbody>
    </table>
        </div></div>
</div>
<br>
<div style="float:right">
<button type="submit" class="btn btn-warning">Modificar</button>&nbsp;
<button type="submit" class="btn btn-secondary">Cancelar</button>&nbsp;
<button type="submit" class="btn btn-success">Aprobar</button>&nbsp;
<button type="submit" class="btn btn-danger">Rechazar</button>&nbsp;
<button type="submit" class="btn btn-primary">Comparar con remito</button>
</div>
<br>
</div>