<div class="container">
    <h1 class="text-start fs-3">Registrar Articulo</h1>
    <div class="">
        <form action="container" [formGroup]="formArticle" >
            <div class="row">
                <div class="col-md-6">
                    <div class="col-12 d-flex justify-content-between gap-2">
                    <div class="form-floating col-8 mt-4">
                        <select formControlName="modelo" class="form-select" id="" aria-label="Seleccionar Modelo a Registrar">
                            <option value="1">MD12ADW</option>
                            <option value="2">AWD12DAWD</option>
                            <option value="3">CDK12</option>
                        </select>
                        <label for="floatingSelect">Seleccionar Modelo</label>
                    </div>        

                    <div class="col-4 mt-4 form-floating">
                        <div class="input-group flex-nowrap">
                        <span class="input-group-text" id="addon-wrapping">$</span>
                        <input type="text" style="height: 58px;" class="form-control" disabled value="300" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                    </div>
                    <div class="form-group mb-3 mt-4">
                        <input name="nombre" style="height: 50px;" type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
                        <div class="mt-1 ms-1" *ngIf="formArticle.get('nombre')?.hasError('required') && formArticle.get('nombre')?.touched">
                          El nombre es requerido.
                        </div>
                        <div *ngIf="formArticle.get('nombre')?.hasError('minlength') && formArticle.get('nombre')?.touched">
                          El nombre debe tener al menos 1 carácter.
                        </div>
                        <div *ngIf="formArticle.get('nombre')?.hasError('maxlength') && formArticle.get('nombre')?.touched">
                          El nombre no debe exceder los 100 caracteres.
                        </div>
                        <div *ngIf="formArticle.get('nombre')?.hasError('pattern') && formArticle.get('nombre')?.touched">
                          El nombre debe contener solo letras y números.
                        </div>
                    </div>   
                           
                    <div class="form-floating mb-3">
                        <select formControlName="marca" class="form-select" id="floatingSelect" aria-label="Seleccionar Marca">
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <label for="floatingSelect">Seleccionar Marca</label>
                    </div>


                    <div class="form-floating">
                        <select formControlName="categorias" (ngModelChange)="addElement()" class="form-select" id="floatingSelect" aria-label="Seleccionar Categorias">   
                            <!-- todas las opciones deben ser cargadas con un arreglo proveniente de un get -->            
                            <option value="1" person="tecnologia">Tecno</option>
                            <option value="2" person="herramientas">Herramientas</option>
                            <option value="3" person="nose">Nose</option>
                        </select>
                        <label for="floatingSelect">Seleccionar Categorias</label>
                        <div class="card mt-3">
                            <h6 class="card-title mt-2 ms-2">Categorias Seleccionadas</h6>
                            <div id="cardAddElement" class="card-body">
                                <div *ngFor="let categories of categories; let i = index">
                                    <div class="d-flex justify-content-between align-items-center gap-2" style="border-radius: 10px;">
                                        <p style="margin: 5px 5px 5px 5px;">{{categories}}</p>
                                        <button (click)="removeCategory(categories)" style="margin: 5px 5px 5px 5px;" type="button" class="btn-close" aria-label="Close"></button>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>

                    <div class="form-group  mt-4  d-flex align-items-center">
                        <label for="minorista"></label>
                        <input formControlName="minorista"  type="number" class="form-control w-50 me-4" id="minorista" placeholder="Porcentaje Minorista">
                        <p style="margin: 0px; font-weight: bold;">Precio: {{(1 * (1 + (formArticle.value.minorista || 0))) | currency }}</p>                       
                    </div>
                    <div class="ms-2" *ngIf="formArticle.get('minorista')?.hasError('required') && formArticle.get('minorista')?.touched">
                        El porcentaje mayorista es requerido.
                    </div>
                    <div class="form-group mt-4 d-flex align-items-center">
                        <label for="mayorista"></label>
                        <input  formControlName="mayorista"  type="number" class="form-control  w-50 me-4" id="mayorista" placeholder="Porcentaje Mayorista">
                        <p style="margin: 0px; font-weight: bold;">Precio: {{(1 * (1 + (formArticle.value.mayorista || 0))) | currency }}</p>
                        
                    </div>
                    <div class="ms-2" *ngIf="formArticle.get('mayorista')?.hasError('required') && formArticle.get('mayorista')?.touched">
                        El porcentaje mayorista es requerido.
                    </div>

                    <div class="input-group mt-4">
                        <input type="file" class="form-control" id="inputGroupFile02" accept=".png, .jpg, .jpeg" (change)="readPhoto($event)">
                        <label class="input-group-text" for="inputGroupFile02">Subir Foto</label>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <div class="form-floating">
                            <textarea formControlName="descripcion" class="form-control" placeholder="Descripcion del producto" id="descripcion"
                                style="height: 130px"></textarea>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h5>Caracteristicas</h5>
                        <div class="form-group">
                            <label for="dimensiones"></label>
                            <input formControlName="dimensiones"  type="text" class="form-control" id="dimensiones" placeholder="Dimensiones">
                            <div class="ms-2" *ngIf="formArticle.get('dimensiones')?.hasError('required') && formArticle.get('dimensiones')?.touched">
                                Las dimensiones son requeridas
                            </div>
        
                        </div>
                        <div class="form-group">
                            <label for="peso"></label>
                            <input formControlName="peso"  type="text" class="form-control" id="peso" placeholder="Peso">
                            <div class="ms-2" *ngIf="formArticle.get('peso')?.hasError('required') && formArticle.get('peso')?.touched">
                                El peso son requeridas.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color"></label>
                            <input formControlName="color"  type="text" class="form-control" id="color" placeholder="Color">
                            <div class="ms-2" *ngIf="formArticle.get('color')?.hasError('required') && formArticle.get('color')?.touched">
                                El color es requerido
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="material"></label>
                            <input formControlName="material"  type="text" class="form-control" id="material" placeholder="Material">
                        </div>   
                                    
                        <div class="form-floating mb-3 mt-4">
                            <select formControlName="pais" class="form-select" id="floatingSelect" aria-label="Seleccionar Pais">                                     
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <label for="floatingSelect">Seleccionar Pais</label>
                            <div class="ms-2" *ngIf="formArticle.get('pais')?.hasError('required') && formArticle.get('pais')?.touched">
                                El pais es requerido
                            </div>
                        </div>

                    </div>


                </div>          


            </div>
            <div class="mt-3 d-grid gap-2">
                <button (click)="onSubmit()" type="submit" class="btn btn-dark">Guardar</button>
                <button (click)="resetFields()" class="btn btn-dark">Cancelar</button>
            </div>
        </form>
    </div>
</div>
