.big-cart {
    border: 1px solid grey;
    border-radius: 30px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .turno {
    background-color: rgb(117, 255, 117);
    padding: 5px;
    border-radius: 5px;
  }