<div class="container">
    <ng-container *ngIf="alert">
      <fn-alert mensaje="Se modifico Correctamente. Espere 5 segundos" tipoAlert="alert alert-success"></fn-alert>
    </ng-container>
    <form #formulario="ngForm" (ngSubmit)="editarMarca()">
      <div class="form-group">
        <label for="txtNombre">Nombre</label>
        <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="ingresar Nombre" [(ngModel)]="discount.nombre">
        <div class="form-group">
            <label for="txtDescripcion">Descripcion</label>
            <input type="text" class="form-control" id="txtDescripcion" name="descripcion" placeholder="Ingresar descripcion" [(ngModel)]="discount.descripcion">
          </div>
          <div class="form-group">
            <label for="txtPrecio_min">Precio Minimo</label>
            <input type="number" class="form-control" id="txtPrecio_min" name="precio_min" placeholder="Ingresar Precio Minimo" [(ngModel)]="discount.precio_min">
          </div>
          <div class="form-group">
            <label for="txtPrecio_min">Precio Minimo</label>
            <input type="number" class="form-control" id="txtPrecio_min" name="precio_min" placeholder="Ingresar Precio Minimo" [(ngModel)]="discount.precio_min">
          </div><div class="form-group">
            <label for="txtPrecio_min">Precio Minimo</label>
            <input type="number" class="form-control" id="txtPrecio_min" name="precio_min" placeholder="Ingresar Precio Minimo" [(ngModel)]="discount.precio_min">
          </div>
          <div class="form-group">
            <label for="txtCodigo_Producto">Producto</label>
            <input type="number" class="form-control" id="txtCodigo_Producto" name="codigo_producto" placeholder="Seleccionar Producto" [(ngModel)]="discount.codigo_producto">
          </div>
          <input type="checkbox">activo
      </div>
      <button routerLink="/listDiscounts" class="btn btn-danger m-2 ms-0 p-2">Volver</button>
      <button type="submit" class="btn btn-primary m-2 p-2">Editar</button>
    </form>
  </div>
  