<div class="container mt-5" id="formulario">
    <h1 class="text-start fs-3">{{this.title}}</h1>
    <div class="">
        <form [formGroup]="formArticle">
            <div class="info row">
               <div class="col-md-12">
                    <h5>Informacion Precargada:</h5>
                    <p *ngIf="productsInactives && productsInactives.length > 0"> 
                        <span style="font-weight: 600;">Codigo:</span> {{this.productsInactives[0]!.codigo}}, 
                        <span style="font-weight: 600;"> Nombre:</span>{{this.productsInactives[0]!.nombre}},
                        <span style="font-weight: 600;"> Precio Minorista:</span>{{this.productsInactives[0]!.precio_minorista || 'No tiene'}},
                        <span style="font-weight: 600;"> Precio Mayorista:</span>{{this.productsInactives[0]!.precio_mayorista || 'No tiene'}},
                        <span style="font-weight: 600;"> Precio Compra:</span>{{this.productsInactives[0]!.precio_compra}},
                    </p>
                   
               </div>
        
            </div>
            <div class="row">
                <div class="col-md-6">
                   
               
                    <div class="form-floating">
                      <textarea 
                      [ngClass]="{'is-invalid': formArticle.get('descripcion')?.invalid && formArticle.get('descripcion')?.touched}"
                      formControlName="descripcion" 
                      class="form-control"
                       style="height: 100px" 
                       placeholder="Descripcion relevante" 
                       name="" id="descripcion"  
                       cols="30" rows="10"></textarea>    
                      <label for="descripcion">Descripcion del Producto</label>
                    </div>

                    <div class="form-floating">
                        <select formControlName="codigo_marca" id="codigo_marca" class="form-select" aria-label="Pais de Origen">
                            <option [value]="marca.codigo" *ngFor="let marca of marcas">{{marca.nombre}}</option>
                        </select>
                        <label for="codigo_marca">Seleccionar Marca</label>
                    </div>
                 

                    <div class="form-floating">
                        <select formControlName="categorias_id" (change)="addElement()" class="form-select" id="categorias" aria-label="Seleccionar Categorias">
                            <!-- todas las opciones deben ser cargadas con un arreglo proveniente de un get -->
                            <option [value]="categoria.codigo" *ngFor="let categoria of categorias">{{categoria.nombre}}</option>
                        </select>
                        <label for="categorias">Seleccionar Categorias</label>
                        <div class="card border-radius-0">
                            <h6 class="card-title mt-2 ms-2">Categorias Seleccionadas</h6>
                            <div id="cardAddElement" class="card-body">
                                <div *ngFor="let categories of categoriesNombre; let i = index">
                                    <div class="d-flex justify-content-between align-items-center gap-2" style="border-radius: 10px;">
                                        <p style="margin: 5px 5px 5px 5px;">{{categories}}</p>
                                        <button (click)="removeCategory(i)" style="margin: 5px 5px 5px 5px;" type="button" class="btn-close" aria-label="Close"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

               

                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input [ngClass]="{'is-invalid': formArticle.get('dimensiones')?.invalid && formArticle.get('dimensiones')?.touched}" formControlName="dimensiones" type="text" class="form-control" id="dimensiones" placeholder="Dimensiones del producto">
                        <label for="dimensiones">Dimensiones del producto</label>
                    </div>

                    <div class="form-floating">
                        
                        <input [ngClass]="{'is-invalid': formArticle.get('peso')?.invalid && formArticle.get('peso')?.touched}" formControlName="peso" type="number" class="form-control" id="dimensiones" placeholder="Dimensiones del producto">
                        <label for="peso">Peso del producto en KG</label>
                    </div>

                    <div class="form-floating">
                        <input [ngClass]="{'is-invalid': formArticle.get('color')?.invalid && formArticle.get('color')?.touched}" formControlName="color" type="text" class="form-control" id="dimensiones" placeholder="Color del producto">
                        <label for="color">Color del producto</label>
                    </div>

                    <div class="form-floating">
                        <input [ngClass]="{'is-invalid': formArticle.get('material')?.invalid && formArticle.get('material')?.touched}" formControlName="material" type="text" class="form-control" id="material" placeholder="Material del producto">
                        <label for="material">Material del producto</label>
                    </div>


                    <div class="form-floating">
                    <select id="pais" formControlName="pais" class="form-select" aria-label="Pais de Origen">
                        <option value="1">Arg</option>
                        <option value="2">awdawd</option>
                        <option value="3">awd</option>
                    </select>
                    <label for="pais">Pais de Origen</label>
                    </div>
                  

                    <div class="input-group">
                        <input [ngClass]="{'is-invalid': formArticle.get('imagen')?.invalid && formArticle.get('imagen')?.touched}" placeholder="Imagen del Producto" title="Seleccione la imagen" type="file" formControlName="imageURL" class="form-control" id="imageURL" accept=".png, .jpg, .jpeg" (change)="readPhoto($event)">   
                    </div>

                    
                </div>
            </div>
            <div class="mt-3">
                <button (click)="onSubmit()" type="submit" class="btn btn-dark me-3">Guardar</button>
                <button (click)="resetFields()" type="reset" class="btn btn-dark">Cancelar</button>
            </div>
        </form>
    </div>
</div>
