
.imagen-borde {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f0f0f0;
  margin: 0 auto;
  position: relative; /* Necesario para posicionar el span en el centro */
}
#product-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 50%;
  border: 3px solid black;
}

.imagen-borde span{
  position: absolute;
  top: 15%; /* Ajusta este valor para mover el texto más abajo o arriba */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: end;
}

input{
  border-radius: 0px;
  height: 3.5rem;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

select{
  border-radius: 0px;
  height: 3.5rem;
  font-size: 1.1rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cardAddElement{
  height: 6rem;
  scroll-behavior: smooth;
  margin-top: 5px;
  margin-bottom: 5px;
}

textarea{
  border-radius: 0px;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

.card-body {
  overflow-y: auto;
}

.border-radius-0{
  border-radius: 0px;
}


.logo-green{
  color: #00a65a;
}

.logo-red{
  color: #dd4b39;
}

input[type="file"]::file-selector-button {
  height: 3.5rem;
}

