.sombra {
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.48);
    -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.48);
    border-radius: 5px;
  }