<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="text-center w-100">Listar stock total de existencias</h1>
  </div>
</nav>
<!-- <div> <h2 class="bg-secondary text-white p-5 text-center">LISTA STOCK TOTAL</h2></div> -->
<div class="container my-5 ">

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">PRODUCTO</th>
            <th scope="col">STOCK TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ex of list">
            <td>{{ex.name}}</td>
            <td>{{ex.stock}}</td>
          </tr>
        </tbody>
      </table>

</div>
