.containerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 100px;
  gap: 10px;
}

.logout-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 100px;
}

.buttonComponent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 100px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  background-color: white;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonComponent:hover {
  background-color: #3498db;
  color: white;
  border-color: #2980b9;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  padding: 5px;
  border-radius: 50px;
}

.active{
  background-color: #3498db;
  color: #ffffff;
}
