<div class="bg-secundario">
  <div class="">
    <div class="row">
      <div class="col-12">
        <div class="card bg-custom-color">
          <div class="card-body text-center">
            <h1 class="card-title text-white">Lista de pedidos</h1>
            <div class="row justify-content-start">
              <div class="col-2">
                <input
                  type="text"
                  class="form-control"
                  id="inpNmbOrder"
                  name="NmbOrder"
                  placeholder="N° de pedido"
                  class="input-text"
                  (input)="buscarPedidos($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <h3 *ngIf="ordersToShow.length === 0" class="text-center">
            No se encontraron pedidos
          </h3>
        </div>
        <div *ngIf="ordersToShow.length > 0">
          <table class="table table-striped cust-table">
            <thead>
              <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Subtotal de pedido</th>
                <th>Total de pedido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of ordersToShow">
                <td>{{ order.id }}</td>
                <td>{{ order.fecha }}</td>
                <td>{{ order.doc_cliente ? order.doc_cliente : 'Consumidor Final' }}</td>
                <td>
                  {{ order.subtotal | currency : "ARS" : "" : "1.2-2" }}
                </td>
                <td>
                  {{ order.total | currency : "ARS" : "" : "1.2-2" }}
                </td>
                <td>
                  <div class="row justify-content-center">
                    <div class="col-auto">
                      <button
                        class="btn btn-primary"
                        (click)="obtenerDetalles(order)"
                      >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg>
                      </button>
                    </div>

                    <div class="col-auto">
                      <button
                        class="btn btn-success"
                        (click)="facturarOrden(order)"
                      >
                        $
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
