<body class="bg-secundario">
  <div class="container-fluid custom-container">
    <div class="row">
      <div class="col-12">
        <div class="card bg-custom-color">
          <div class="card-body text-center">
            <h1 class="card-title text-white">Lista de pedidos</h1>
            <div class="row justify-content-start">
              <div class="col-2">
                <input
                  type="text"
                  class="form-control"
                  id="inpNmbOrder"
                  name="NmbOrder"
                  placeholder="N° de pedido"
                  class="input-text"
                  (input)="buscarPedidos($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <h3 *ngIf="ordersToShow.length === 0" class="text-center">
            No se encontraron pedidos
          </h3>
        </div>
        <div *ngIf="ordersToShow.length > 0">
          <table class="table table-striped cust-table">
            <thead>
              <tr>
                <th>N°</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Subtotal de pedido</th>
                <th>Total de pedido</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of ordersToShow">
                <td>{{ order.id }}</td>
                <td>{{ order.fecha }}</td>
                <td>{{ order.idCliente }}</td>
                <td>
                  {{ order.subtotal | currency : "ARS" : "" : "1.2-2" }}
                </td>
                <td>
                  {{ order.total | currency : "ARS" : "" : "1.2-2" }}
                </td>
                <td>
                  <button class="btn btn-primary" (click)="viewDetail(order)">
                    Ver
                  </button>
                </td>
                <td>
                  <button class="btn btn-primary" (click)="facturarOrden(order)">
                    Facturar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="isModalOpen">
    <fn-details-modal
      [selectedDetails]="SelectedDetails"
      (onClose)="closeModal()"
    ></fn-details-modal>
  </div>
</body>
