<div class="custom-modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Detalles de la orden</h2>
    <table class="table table-striped cust-table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detail of selectedDetails">
          <td>{{ detail.descripcion }}</td>
          <td>{{ detail.precio_unitario | currency : "ARS" : "" : "1.2-2" }}</td>
          <td>{{ detail.cantidad }}</td>
          <td>{{ detail.subtotal | currency : "ARS" : "" : "1.2-2" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="d-flex justify-content-center">
        <button class="btn btn-danger" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
