<div class="container">
  <fn-modal mensaje="Seguro que quieres eliminar?" option1="Eliminar" option2="Cancelar" (evento)="eliminarMarca()" title="Eliminar marca"></fn-modal>
  <ng-container *ngIf="alert">
    <fn-alert mensaje="Operación Exitosa." tipoAlert="alert alert-success"></fn-alert>
  </ng-container>

  <button routerLink="registerBrand" class="btn btn-success float-end mt-2">Registrar Marca</button>
  <h2 class="my-2 py-2">Listado de Marcas</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Modificar</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let m of lista">
      <td>{{m.codigo}}</td>
      <td>{{m.nombre}}</td>
      <td><button  routerLink="updateBrand" [queryParams]={codigo:[m.codigo]}  class="btn btn-primary">Modificar</button></td>
      <td><button (click)="guardarCodigo(m.codigo)" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar</button></td>
    </tr>
    </tbody>
  </table>
</div>
